{% load socialaccount %}

<!-- bootstrap's navbar start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
    <div class="container">
        <a class="navbar-brand" href="/">Do It Django</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about_me/">About Me</a>
            </li>       
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- logout button start -->
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    <!-- 아바타 프로필 노출 start -->
                    {% if user.socialaccount_set.all.0.get_avatar_url %}
                    <img class="rounded-circle" width="25px" 
                    src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="">
                    {% else %}
                    <img class="rounded-circle" src="https://doitdjango.com/avatar/id/1408/16919788e968df27/svg/{{ user.email }}">                    
                    {% endif %}
                    &nbsp;
                    {{ user.username }}
                    <!-- 아바타 프로필 노출 end -->

                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/accounts/logout">Log Out</a>                    
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="modal" data-target="#loginModal">
                    <i class="fa-solid fa-right-to-bracket"></i>&nbsp Log In</a>
            </li>
            {% endif %}
            <!-- logout button end -->                        
        </ul>        
    </div>
</nav>
<!-- bootstrap's navbar end -->

<!-- Modal start -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" 
                        href="{% provider_login_url 'google' %}">
                            <i class="fa-brands fa-google"></i>&nbsp&nbsp Log in with Goole</a>
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" 
                        href="/accounts/login/"><i class="fa-regular fa-envelope"></i>&nbsp&nbsp
                            Log in with E-mail</a>
                    </div>
                    <div class="col-md-6">
                        <a role="button" class="btn btn-outline-dark btn-block btn-sm" 
                        href="/accounts/signup/"><i class="fa-regular fa-envelope"></i>&nbsp&nbsp Sign Up with E-mail</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal end -->