{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}
{{ post.title }} - Blog
{% endblock  %}
{% block main_area %}

<!-- Post Area start -->
<!-- Page content-->
<div id="post-area">
    <!-- category start -->
    {% if post.category %}
    <span class="badge badge-success float-right">{{ post.category }}</span>
    {% else %}
    <span class="badge badge-success float-right">미분류</span>
    {% endif %}
    <!-- category end -->

    <!-- Post title-->
    <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
    <h5 class="text-muted">{{ post.hook_text }}</h5>

    <!-- Post Author-->
    <p class="lead">
        by
        <a href="#">{{ post.author|upper }}</a>
    </p>
    <hr>

    <!-- Edit Post 버튼 start -->
    {% if user.is_authenticated and user == post.author %}
    <a class="btn btn-success btn-sm float-right" href="/blog/update_post/{{ post.pk }}/" 
    role="button"><i class="fas fa-pen"></i> Edit Post</a>
    {% endif %}
    <!-- Edit Post 버튼 end -->

    <!-- Post meta content-->
    <!-- Post meta Date, Time-->
    <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>
    <hr>    

    <!-- Preview image figure-->
    {% if post.head_image %}
    <img class="img-fluid rounded" src="{{ post.head_image.url }}" 
        alt="{{ post.title }} head_image"/>
    {% else %}
    <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" 
        alt="random_image">
    {% endif %}
    <!-- Post content-->
    <section class="mb-5">
        <!-- safe필터를 통해서 html 이스케이핑을 방지한다. -->
        <p class="fs-5 mb-4">{{ post.content|linebreaks }}</p>

        <!-- Tag code start -->
        <!-- 만약 포스트에 태그가 있다면 태그를 다 가져와줘 -->
        {% if post.tags.exists %}
            <i class="fa-solid fa-tags"></i>
            {% for tag in post.tags.all %}
                <a href="{{ tag.get_absolute_url }}" class="badge badge-success">{{ tag }}</a>
            {% endfor %}            
            <br>
            <br>
        {% endif %}
        <!-- Tag code end -->

        {% if post.file_upload %}
        <a class="btn btn-outline-success" href="{{ post.file_upload.url }}" 
            role="button">Download:
        <!-- 파일 타입에 따른 구분으로 아이콘 노출 start -->    
        <!-- get_file_ext는 Post 모델로 부터 비롯되었다. -->
        {% if post.get_file_ext == 'csv' %}
        <i class="fa-solid fa-file-csv"></i>
        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
        <i class="fa-solid fa-file-excel"></i>
        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
        <i class="fa-solid fa-file-word"></i>
        {% else %}                            
        <i class="fa-solid fa-file"></i>
        {% endif %}
        {{ post.get_file_name }}
        <!-- 파일 타입에 따른 구분으로 아이콘 노출 end -->    
        </a>
        {% endif %}
        <hr>
    </section>
</div>
<!-- Post Area end -->

<!-- Comments Area start -->
<div id="comment-area">
    <!-- Comment form new start -->
    <!-- 로그인 했을때 -->
    <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
            {% if user.is_authenticated %}
            <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}/new_comment/">
                {% csrf_token %}
                <div class="form-group">
                    {% comment %} <textarea class="form-control" rows="3"></textarea> {% endcomment %}
                    {{ comment_form|crispy }}
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            {% else %}
            <!-- 비 로그인 상태일때 -->
            <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="#" 
            data-toggle="modal" data-target="#loginModal">Log in and leave a comment</a>
            {% endif %}
        </div>
    </div>

    <!-- 만약 포스트에 댓글이 있다면 댓글을 다 가져와줘 -->
    {% if post.comment_set.exists %}
        {% for comment in post.comment_set.iterator %}
        <!-- Single comment -->
        <div class="media mb-4" id="comment-{{ comment.pk }}">
            <img class="d-flex mr-3 rounded-circle" src="{{ comment.get_avatar_url }}" 
            alt="{{ comment.author }}" width="60px">
            <div class="media-body">

                <!-- 글 작성자 본인에게만 edit을 띄워주기 start -->
                {% if user.is_authenticated and comment.author == user %}
                <div class="float-right">
                    <!-- modify area start -->
                    <a role="button" class="btn btn-sm btn-success" 
                    id="comment-{{ comment.pk }}-update-btn" 
                    href="/blog/update_comment/{{ comment.pk }}/">
                    edit
                    </a>
                    <!-- modify area end -->

                    <!-- delete area start -->
                    <a role="button" href="#" id="comment-{{ comment.pk }}-delete-modal-btn" 
                    class="btn btn-sm btn-danger" data-toggle="modal" 
                    data-target="#deleteCommentModal-{{ comment.pk }}">
                        delete
                    </a>
                    <!-- delete area end -->
                </div>

                <!-- modal -->
                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" 
                tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" 
                aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Are You Sure?</h5>
                                <button type="button" class="close" data-dismiss="modal" 
                                aria-label="Close">
                                    <span aria-hidden>&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <del>{{ comment|linebreaks }}</del>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" 
                                data-dismiss="modal">Cancel</button>
                                <a role="button" class="btn btn-danger" 
                                href="/blog/delete_comment/{{ comment.pk }}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- 글 작성자 본인에게만 edit, delete를 띄워주기 end -->

                <h5 class="mt-0">
                    {{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">
                        {{ comment.created_at }}</small>
                </h5>
                <p>{{ comment.content|linebreaks }}</p>
                <!-- comment 수정 start-->
                {% if comment.created_at != comment.modified_at %}
                <p class="text-muted float-right">
                    <small>Updated: {{ comment.modified_at }}</small></p>
                {% endif %}
                <!-- comment 수정 end-->
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <hr>
    <!-- Comment form new end -->

    
    <!-- Comment with nested comments-->
    <div class="d-flex mb-4">
        <!-- Parent comment-->
        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>        
    </div>
</div>                
<!-- Comments Area end -->
{% endblock  %}