{% extends 'blog/base_full_width.html' %}

{% block head_title %}
Create Post - Blog
{% endblock  %}

{% block main_area %}
<h1>Create New Post</h1>
<hr>

<!-- enctype="multipart/form-data"의 의미는 파일도 함께 전송하겠다는 의미 -->
<form method="post" enctype="multipart/form-data">{% csrf_token %}
    <table>
        {{ form }}
        <tr>
            <th><label for="id_tags_str">Tags:</label></th>
            <td><input type="text" name="tags_str" id="id_tags_str"></td>
        </tr>
    </table>
    <button type="submit" class="btn btn-success float-right">Submit</button>
</form>
{% endblock  %}